.custom-navbar {
    background-color: #2c3e50;
    padding: 1rem 0;
}

.brand-font {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #ecf0f1 !important;
}

.nav-link {
    color: #ecf0f1 !important;
    margin-right: 1rem;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #3498db !important;
}

/* Nuove regole per l'InputGroup e il pulsante di ricerca */
.input-group {
    height: 38px; /* Altezza fissa per l'intero gruppo */
}

.search-input {
    height: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-btn {
    height: 100%;
    width: 38px; /* Larghezza fissa per il pulsante */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0; /* Rimuove il padding interno */
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-btn i {
    font-size: 1rem; /* Adatta la dimensione dell'icona */
}

.settings-btn {
    padding: 0.375rem 0.75rem;
}

.dropdown-menu {
    background-color: #34495e;
}

.dropdown-item {
    color: #ecf0f1;
}

.dropdown-item:hover {
    background-color: #2c3e50;
    color: #3498db;
}
